.child{
  width: 378px;
  height: 530px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  border: 1px solid white;
  background-color: #F5F5F5;
}
.img{
  width: 359px;
  height: 200.52px;
  margin: 10px;
}
body{
  background-color:  #E0E0E0;
}
.p1{
  font-family: "Font";
  src: url("./Inter-Regular.ttf");
  color: #616161;
  padding-left: 20px;
}
.Email{
  border-radius: 10px; 
  border: 1px solid #F4B4B4;
  width: 315px;
  height: 45px;
  margin-left: 20px; 
  color:#9E9E9E;  
  }
.input_container {
    position: relative;
 }
 .input_container2 {
  position: relative;
}
.img1 { 
  position: absolute; right:10px; top: 20px;
  z-index: 2;
  }
.password{
  width: 315px;
  height: 45px;
  border-radius: 10px;
  border: 1px solid #F4B4B4;
  margin-left: 20px;
  color: #9E9E9E;
  position: absolute;
}
.p2{
  padding-left: 20px;
}
.img2{
  position: absolute; right:10px; top: 20px;
  z-index: 3;
}
.submit{
  margin-top: 30x;
  width: 320px;
  height: 45px;
  border-radius: 10px;
  border: 1px solid #6756CB;
  background-color: #6756CB;
  margin-left: 20px;
  color: white
}
